@using System.Globalization
@using Domain_Areas.Entidades
@using Domain_Areas.Enumeradores
@model IEnumerable<Domain_Areas.Entidades.Automovel>

<div id="Centro">
    <div id="Cadastro"  class="CadastroCliente">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        
            foreach (var model in Model)
            {
                <div>
                    @Html.TextBox("Marca",model.Marca, new {@class="ListaDeAutomoveis", disabled="true"})
                    @Html.TextBox("TipoAutomovel",(TipoAutomovel)model.TipoAutomovel, new {@class="ListaDeAutomoveis", disabled="true"})
                    @Html.TextBox("Modelo",model.Modelo,new {@class="ListaDeAutomoveis", disabled="true"})
                    <button>
                        @Html.ActionLink("Editar","EditarAutomovel", routeValues: new{idcliente=model.ClienteId, id=model.AutomovelId, tipo=model.TipoAutomovel, marca=model.Marca, modelo=model.Modelo, descricao=model.Descricao, cliente=model.Clientes})
                    </button>
                </div>
            }
        }
  
    </div>
</div>